@import '../../styleVariables.scss';

.RedditList {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0;
  margin-bottom: 20px;

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }
}
