@import '../../styleVariables.scss';

.RedditList {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0;
  margin-bottom: 20px;

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__pagination-btn {
    background-color: $yellow;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    box-shadow: $boxShadow;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }
}
